* {
    font-family: 'Bebas Neue', cursive;

    /* width: auto; */
}


header {
    background-color: rgb(20, 20, 20);
    width: auto;
}

body {
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}


ul {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
}


nav li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 60px;
}

#home-btn {
    float: left;
}

#search-btn,
#favorites-btn {
    float: right;
}



.visible {
    display: block;
}

.invisible {
    display: none;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#details button {
    display: flex;
    margin: auto;
    font-size: 2em;
    transition: .2s ease-in;
    background-color: rgba(184, 83, 0, 0.945);
}

#details button:hover {
    background-color: rgb(120, 153, 203);
    transform: scale(1.1);
}

#team-card {
    border-radius: 25px;
    margin: 10px;
    outline: 2px solid black;
}

#wrapper>button {
    width: auto;
}

.main-header {
    font-weight: 500;
}

section ul li article {
    margin: 0px;
    padding: 0px
}

#details ul {
    padding: 10px;
    border-radius: 25px;
}

#team-card>div>h2 {
    outline-offset: 0px;
    outline: 2px solid white;
    margin: 25px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* border-radius: 25px 25px 0 0; */
}

#details {
    text-align: center;
}

#details li {
    padding: 0 20px;
}

article {
    padding: 20px;
}

#game-link {
    border-radius: 25px;
    padding: 5px 15px;
    box-shadow: inset 0 0 10px rgb(56, 70, 83);
}

.gamesContainer {
    overflow: auto;
    height: 88vh;
}

#game-card {
    margin: 40px 40px 40px 40px;
}

body {
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}


.team-btn {
    font-size: 85%;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
    opacity: 95%;
}

#player-details li {
    transform: translateX(5%);
    width: fit-content;
}

a.uk-accordion-title {
    width: 65vw;
    background-color: rgb(209, 188, 129);
    padding: 5px;
}

#accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    position: absolute;
    bottom: 50px;
    right: 40px;
    /* color:#ffc400; */
}

#link {
    margin-top: 15px;
}

#link a {
    background-color: rgb(120, 153, 203);
    color: white;

    font-size: 25px;
    padding: 5px 10px 0px 10px;
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .team-btn {
        width: 100%;
    }

    nav ul {
        justify-content: space-around;
    }

    #wrapper {
        flex-direction: column;
    }

    .mask {
        display: none;
    }

    .team-btn {
        margin: 0;
    }
}