section{
    outline: 2px solid black;
}

nav ul {
    display: inline;
}

.visible{
    display: block;
}

.invisible {
    display: none;
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#team-card{
    border-radius: 25px;
    margin: 10px;
}

ul, li, article{
    margin: 0px;
    padding: 0px
}

ul {
    padding: 10px;
    border-radius: 25px;
}
li {
    padding: 0 20px;
}

article {
    padding: 20px;
}